:root {
  --backgroud-azul: #f3f5fc;
  --backgroud-azul-botao: #0a3871;
  --branco: #ffffff;
  --font-family: "Inter", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--backgroud-azul);
  box-sizing: border-box;
}

.mostrar {
  display: flex;
}

.escoder {
  display: none;
}
