.popup-container {
  background-color: rgba(0, 0, 0, 0.849);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: var(--backgroud-azul-botao);
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: var(--backgroud-azul);
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 24px;
}

#mensagem,
#btn-jogar {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
}

#mensagem {
  color: var(--branco);
}
